# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# Build outputs
dist/
build/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.spec
*.ico
*.json
# Thumbnail cache
thumb_cache/
visionforge_build/
__pycache__/
*.pyc
crash.log
settings.json
ui/data/
ui/annotations/main.json
ui/yolo*.pt
# Data directories (если не хотите хранить большие файлы)
data/
annotations/
models/
/ui/annotations/
/ui/data/
/ui/runs/
/tests/
run_tests.py



